Body {
Margin : 0;
Padding : 0 ;
}

body{
    background-color:black;
    color: white;  
    padding-top: 120px;
    font-family: 'Times New Roman';
}

h1{
    color: rgb(168,80,50);
    text-align: center;
    font-family: 'Times New Roman';
    margin-top: 5%;
    text-shadow: 0 5px 30px rgb(168,80,50);
}

#about{
    text-align:center;
    font-size: larger;
    font-weight: 800;
    margin: 5%;
}

.edu{
    min-height: 100hv;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    text-shadow: none;
}

p{
    text-align: center;
    font-weight: 600;
    margin: 23px;
}

button{
    background-color: rgb(160, 26, 26);
    color: rgb(168,80,50);
}

h2{
    color: rgb(168,80,50);
    text-align: center;
    font-family: 'Times New Roman';
    margin-top: 20%;
    text-shadow: 0 4px 50px rgb(168,80,50);
}

a{
    text-decoration: none;
    text-align:center;
    font-size: 1.2rem;
    margin: 25px;
    color:rgb(211, 74, 29) ;     
}

.navbar{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(233, 69, 14);
    border-radius: 20px;
    height: 50px;
    align-items: center;
    display: flex;
    gap: 20px;
    box-shadow: 0 5px 20px rgb(168,80,50);
}

div{
    text-align: center;
}
