Body {
Margin : 0;
Padding : 0 ;
}

body{
    background-color:black;
    color: white;  
    padding-top: 120px;
    font-family: 'Times New Roman';
}

h1{
    color: rgb(168,80,50);
    text-align: center;
    font-family: 'Times New Roman';
    margin-top: 5%;
    text-shadow: 0 5px 30px rgb(168,80,50);
}

#about{
    text-align:center;
    font-size: larger;
    font-weight: 800;
    margin: 5%;
}

.edu{
    min-height: 100hv;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    text-shadow: none;
}

p{
    text-align: center;
    font-weight: 600;
    margin: 23px;
}
